<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/material-kit.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lineage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/logo.png">

  </head>

  <body id="page-top">
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            MeetOdus
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div id="navbarNav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/">Blog</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/about/">About</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/contacts/">Contatti</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main" role="main">

      <noscript>
        <div class="no-script">
          <div class="container">
            For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.
          </div>
        </div>
      </noscript>

      {{ content }}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <p class="footer-text">
              <b>&copy; 2016 - 2018 The LineageOS Project </b><br />
              <b>&copy; 2018 MeetOdus </b><br />
            </p>
          </div>
          <div class="col-md">
            <div class="footer-icons">
              {% include footer-icons.html %}
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-material-design.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/material-kit.js?v=2.0.2"></script>

  </body>
</html>
